// Link cover done here so it doesn't interfere with the edit view behaviour
// webflow doesn't allow a collection list to be inside a link
// so there are situations where we need to use absolute positioning instead
.link-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  // hover effects for sibling elements
  ~ .link-coverimg img {
    transition: transform 0.6s cubic-bezier(0.5, 0.5, 0.33, 0.67);
    transform: scale(1);
  }

  ~ .link-coverbtn .icon-arrowright {
    //transform: translateX(2rem);
    transform: translateX(0rem);
    transition: transform 0.6s cubic-bezier(0.5, 0.5, 0.33, 0.67);
  }


  @media (hover: hover) {
    &:hover,
    &:focus {
      ~ .link-coverimg img {
        transform: scale(1.05);
      }

      ~ .link-coverbtn .icon-arrowright {
        transform: translateX(1rem);
      }
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  @for $i from 1 through 5 {
    &--#{$i} {
      -webkit-line-clamp: $i;
    }
  }
}

// webflow adds extra gap to rows???
.webflow-row-fix:after,
.webflow-row-fix:before {
  display: none;
}

// fix for webflow view fixes
.nav_logo_rive {
  display: block;
}