@use './util/colors' as *;
// include all styles from the global styles folder
@use './hr' as *;
@use './theme' as *;
@use './content' as *;

.webflow-placeholder {
  display: none;
}

body {
  max-width: 100%;
  overflow: none;
}